@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: "TF2 Secondary", sans-serif;
  background: rgb(var(--hud-black));
  color: rgb(var(--hud-tan-light));
}

#root {
  min-height: 100vh;
}
